<h3>Employee Details</h3>
<label id="id">Emp ID : {{ employee.id }}</label>
<div style="height:10px"></div>
<label id="name">Name : {{ employee.names }}</label>
<div style="height:10px"></div>
<label id="location">Location : {{ employee.location }}</label>
<div style="height:10px"></div>
<label id="email">Email : {{ employee.email }}</label>
<div style="height:10px"></div>
<label id="mobile">Mobile : {{ employee.mobile }}</label>
<div style="height:10px"></div>
<button id="back" routerLink='/employees'>Back</button>