
<label>Filter by: </label>
<input [(ngModel)]=filtered type="text">

<table style="width:100%">
  <tr>
    <th>Emp ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>mobile</th>
  </tr>
  <tr *ngFor="let employee of employees | filter : filtered" >
    <td><a (click)="setEmployeeId(employee.id)">{{ employee.id }}</a></td>
    <td id="name{{ employee.id }}">{{ employee.names }}</td>
    <td id="loc{{ employee.id }}">{{ employee.location }}</td>
    <td id="email{{ employee.id }}">{{ employee.email }}</td>
    <td id="mob{{ employee.id }}">{{ employee.mobile }}</td>

    <td>
      <button (click)="editEmployee(employee.id)">Edit{{ employee.id }}</button>
    <button (click)="deleteEmployee(employee.id)">Delete{{ employee.id }}</button>
    </td>
  </tr>
</table>