<h3>Add Employee</h3>
<form #userForm="ngForm" (ngSubmit)="createEmployee()" novalidate>
  <label>Employee Name : </label>
  <input #empname="ngModel" name="names" id="name" type="text" [(ngModel)]="employee.names" pattern="[A-Za-z]*" minlength="3" required>
  <div style="height:10px"></div>
  <label>Location : </label>
     <select name="location" id="location" [(ngModel)]="employee.location">
      <option value="Bangalore">Bangalore</option>
      <option value="Chennai">Chennai</option>
      <option value="Pune">Pune</option>
      <option value="Hyderabad">Hyderabad</option>
      </select> 
  <div style="height:10px"></div>
  <label>Email : </label>
    <input name="email" id="location" type="text" [(ngModel)]="employee.email">
  <div style="height:10px"></div>
  <label>Mobile : </label>
    <input name="mobile" id="mobile" type="text" [(ngModel)]="employee.mobile">
  <div style="height:10px"></div>
  <input [disabled]="!userForm.form.valid" id="add" type="submit" value="submit">
</form>
